# Virtualenvs
.env/

# Python
__pycache__

# IDE
.idea

# Model checkpoints
*.ckpt
/**/*.ckpt
/**/**/*.ckpt

# Notebook checkpoints
*ipynb_checkpoints
/**/*ipynb_checkpoints
.DS_Store
notebooks/.DS_Store

# notebook ignores
*.ipynb
notebooks/*.ipynb

# Pytest
*pytest_cache
/**/*pytest_cache

# latex log files
/**/*.aux
/**/*.bbl
/**/*.blg
/**/*.fdb_latexmk
/**/*.fls
/**/*.log
/**/*.synctex.gz
/**/*.out
/**/*.bcf
/**/*.xml
/**/*.pdf
/**/*.toc
/**/**/*.aux
/**/**/*.bbl
/**/**/*.blg
/**/**/*.fdb_latexmk
/**/**/*.fls
/**/**/*.log
/**/**/*.synctex.gz
/**/**/*.out
/**/**/*.bcf
/**/**/*.xml
/**/**/*.pdf
/**/**/*.toc
# covereage
.coverage

# experiment outputs
/experiments/**/outputs
/experiments/**/**/outputs

# training data
/experiments/**/data
